* {
    margin: 0 0;
    border: 0 0;
    padding: 0 0;
    list-style: none;
}

body {
    background-color: #F5F5F5;
}

header {
    display: flex;
    padding: 6%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;    
}

#card {
    margin-top: 40px;
}

#social {
    display: flex;
    justify-content: space-evenly;
}

header button {
    height: 35px;
    width: 150px;
    border-radius: 15px;
    background-color: lightskyblue;
    border: 0px;
    font-weight: 700;
    color: white;
}

header button:hover {
    background-color: rgb(0, 157, 255);
}

header #profile-pic{
    border-radius: 50%;
    width: 20em;
    border: solid rgb(207, 207, 207) 6px;
    align-self: flex-end;
}

header h1 {
    font-size: 2.5em;
}

header h1 span {
    color: rgb(66, 181, 252);
}



#social img {
    width: 2em;
    padding: 3px 0;
}

menu {
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    width: 95%;
    position: fixed;
    align-items: center;
    background-color: #2FC18C;
    border-radius: 10px;
}

menu span {
    margin-left: 20px;
}

.container {
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

article {
    text-align: center;
}

p {
    padding: 15px;
}

#skills img {
    height: 100px;
}


.skills-card {
    margin: 30px 0;
} 

#skills {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#hard-skills, #soft-skills {
    width: 350px;
    background-color: white;
    border-radius: 30px;
    padding: 60px 30px;
    padding-top: 20px;
    box-shadow: 3px 3px 3px 2px #2FC18C;
}