* {
  margin: 0;
    padding: 0;
    border: 0;
}

.body {
  height: 100vh;
  overflow-y: scroll;
}

.slide {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.half {
  min-height: 20vh;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.myPicture {
  height: 500px;
  border-radius: 500px;
}

.name-card {
  text-align: center;
}

.background-title {
  font-size: 15vh;
  opacity: 0.05;
}

.text-wbackground {
  display: flex;
  width: 50%;
  z-index: 10;
  margin-right: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}

.icon {
  width: 10vh;
  margin-left: 2vw;
}

@media only screen and (max-width: 900px) {
  .slide {
    flex-direction: column;
  }

  .background-title {
    font-size: 6vh;
    opacity: 0.05;
  }
}

@media only screen and (max-width: 350px) {
  .background-title {
    font-size: 4vh;
  }
}

@media only screen and (max-width: 500px) {  
  .background-title {
    font-size: 4vh;
  }
}